.AboutContainer {
  display: flex;
  width: auto;
  padding: 0 10% 0 10%;
}
.ImageContainer {
  width: 50%;
  height: fit-content;
}
.ImageContainer img {
  width: 80%;
  border-radius: 20%;
  filter: drop-shadow(8px 5px 8px rgb(22, 79, 51));
}

.Detail_Container {
  width: 50%;
}
.blue_line {
  background-color: #11cfe2ab;
  height: 5px;
  width: 50%;
}
.skillContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
.skillContainer div {
  border: 2px solid rgb(109, 106, 106);
  height: 30px;
  width: auto;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .AboutContainer {
    flex-direction: column;
    width: auto;
  }
  .ImageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Detail_Container {
    width: 100%;
    text-align: justify;
  }
}
