.footer_main{
    height: 100px;
    width: 100%;
    display: flex;
    /* padding: 10px; */
    align-items: center;
    justify-content: center;
}

.footer_main span{
    margin-left: 10px;
}
.footer_left{
    width: 100%;
    border: 1px solid;
}
.footer_circle{
    border:1px solid;
    background-color: white;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

@media screen and (max-width:768px){
    .footer_main{
        font-size: 0.5rem;
    }
}