.active{
    border-bottom: 2px solid white;
    color: rgb(128 25 13);
    border-bottom-color: rgb(181, 181, 208);
}
.header_wraper{
    /* background-color: #142b2d7b; */
    font-size: 1rem;
    height: auto;
    padding: 0.5rem;
    width: auto;
    display: flex;
    align-items: center;
    font-family: cursive;
}

.header_wraper span{
   
    font-weight: 900;
}
.header_wraper h1{
    font-size: 1rem;
    color: #eef1f7;
    background-color: #17464b3d;
    border-radius: 40px;
    height: auto;
    width: 20%;
    padding: 10px;
    text-align: center;
}
.header_first_half_top{
    width: 17%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_first_half{
    width: 100%;
    height: 0px;
    border: 1px solid;
}

.header_list_item{
    width: 63%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    list-style: none;
}

.header_item_list_smallScreen{
    list-style: none;
    width: 63%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    list-style: none;
}


.circle{
    border-radius: 50%;
    border: 1px solid;
    height: 8px;
    width: 8px;
    background-color: white;
}

.header_menubar{
    display: none;
}

@media screen and (max-width: 768px) {
    .header_list_item{
        font-size: 0.5rem;
    }
    .header_wraper h1{
        font-size: 0.5rem;
    }
    .header_item_list_smallScreen{
        list-style: none;
        width: 80%;
        height: 223px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        z-index: 1000;
        background: rgb(2, 0, 36);
        background: linear-gradient(
          90deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(7, 101, 105, 0.9305847338935574) 35%,
          rgba(0, 212, 255, 1) 100%
        ); 
        margin-top: 315px;
        border-radius: 0 20% 20% 0;
    }
    

}

@media screen and (max-width: 576px) {
    .header_list_item{
        display: none;
    }
    .header_menubar{
        display: block;
    }
    .header_wraper{
       justify-content: space-between;
    }
    .header_wraper h1{
        display: none;
    }
   
    
}